.cartoon{
    margin: 10px;
}

.formCartoon{
    margin-top: 10%;
}

.eachImage{
    margin: 10px;  
    float: left;
}

body{
    background-color: aliceblue;
}

#panel{
    background-color: rgb(238, 234, 234);
}

#jumbotron2{
    display: none;
}

#jumbotron1{
    text-align: center;
    margin-top: 5%;
}